MQTT_HOST=SEU_BROKER.s1.eu.hivemq.cloud
MQTT_PORT=8883

MQTT_USERNAME=SEU_USUARIO_MQTT
MQTT_PASSWORD=SUA_SENHA_MQTT

MQTT_CLIENT_ID=gateway-despertador-gab

DEVICE_ID=esp32-01

REDIS_URL=redis://localhost:6379
